@model IEnumerable<DMShop.Models.Category>

@{
    ViewData["Title"] = "ViewCategories";
}

<h2>View Categories</h2>

<p>
    <a href="/Category/AddCategory" class="btn btn-info">Create New</a>
</p>

<table class="table table-hover table-responsive table-striped col-md-6" id="ViewCategories">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => item.Name)<span class="itemcount badge col-md-1 pull-right" data-id=@item.Id></span>
            </td>
            <td class="col-md-3">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id })
               
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts{ 
    
        <script>
            $(document).ready(function () { 
                $('ViewCategories').DataTable();
                $('.itemcount').each(function () {
                    var count = $(this);
                    $.ajax({
                        before: function () { },
                        url: '/Category/CountItems',
                        type: 'Get',
                        data: { CategoryId: count.data('id') },
                        success: function (ReturnedCount) {
                            count.text(ReturnedCount);
                        },
                        error: function () { },
                        after: function () { }
                    });
                });
            });
        </script>
@*script for live chat agent*@
<script type="text/javascript">
function add_chatinline(){var hccid=97226075;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>
    }